* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {font-family: 'Roboto', sans-serif;}

h2  {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 32px;
}

p {
    padding: 5px 0;
}

main {
    background-color: #b10841;
    height: 700px;
    padding: 10px 0;
}

main .prezzo-container,
main .biglietto-container {
    padding: 20px 0;
    width: 80%;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    height: 200px;
}

.item-wrapper {
    margin: 0 auto;
    width: 90%;
    position: relative;
}

.prezzo-container .item-wrapper .item {
    float: left;
    color: #b10841;
    margin: 0 20px;
    text-align: center;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.button-container {
    width: 100%;
    position: absolute;
    bottom: -50px;
    left: 230px;
}
